body { min-width: 990px; }

.clear { clear:both; }

.tabs li.new span { font-family: Icons; }

.tabs li a { line-height:auto;padding:0;font-size:11px; }
.tabs li.new a { line-height:auto;padding:0; }
.tabs li.new { text-align:center;position:relative; }
.tabs li.new a span { margin-left:115px;left:220p }

.tabs li span { font-family: Icons;font-size:20px;position:absolute;left:15px;top:-3px; }

ul.tabs {width:275px; }
ul.tabs li { border-right:solid 1px #8b9494;position:relative; }
ul.tabs.lastcol li { border-right:none; }

ul.tabs li .pagemenus { position:absolute;right:10px;font-family: Icons;top:3px;display:none; }
ul.tabs li .pagemenus a { float:left;padding:0;padding-left:10px; }

ul.tabs li:hover .pagemenus { display:block; }
ul.tabs li:hover .pagemenus a:hover { color:#34aaed; }

.addmore #more { top:-30px;width:190px;margin-left:15px; }

.addmore ul { 
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    height:108px;
}

.deletemenu { position:absolute;left:0px;line-height:20px;top:0px;font-size:11px;width:100%;background:#ecf3f3;height:100%;vertical-align:middle;text-align:center;display:none;}
.deletemenu div { padding-top:10px; }
.deletemenu div label { cursor:pointer; }
.deletemenu div label:hover { color:#34aaed; }
.deletemenu a { padding:0;margin:0;line-height:20px; }


.editcontent { padding:20px;float:left;width:785px; }
.editcontent b { letter-spacing:1px;font-size:16px;color:#666; }
.editcontent span { color:#666;line-height:30px; }
.editcontent input[type=text] { margin-top:5px; }
.editcontent textarea { border:none; }
.editcontent .buttons { height:50px;padding-top:20px;text-align:right;position:relative; }
.editcontent .buttons button.pagegallery { position:absolute;top:20px;left:0; }

.uploadform { float:left;width:20%; }
.imageslist { float:left;width:80%; }


#imagelist ul li { float:left;margin-right:5px;margin-bottom:5px;position:relative;list-style:none; }
#imagelist ul li .image { width:250px;height:150px;overflow:hidden;text-align:center; }

#imagelist ul li:hover .menus { display:block; }
#imagelist ul li .menus { position:absolute;left:0;top:0;height:100%;width:100%;text-align:center;vertical-align:middle;display:none; }
#imagelist ul li .menus table tr { background:url(../images/blue-trans.png); }
#imagelist ul li .menus table tr td { background:transparent;border:none;}
#imagelist ul li .menus a { color:#fff;font-weight:bold;line-height:20px;text-decoration:none; }
#imagelist ul li .menus .delete { color:#fff;font-weight:bold;line-height:20px;text-decoration:none; }
#imagelist ul li .menus .delete span { cursor:pointer; }

#imagelist ul li .imageedit { display:none; }
#imagelist ul li .imageedit textarea { background:#fff;padding:5px;border:solid 1px #ccc; }
#imagelist ul li .imageedit button { padding:5px;border:none;font-weight:normal;font-size:12px;margin:0;margin-top:5px; }

.cropimage .bigimage { width:800px;float:left;overflow:auto;}
.cropimage .smallimage { width:200px;float:left;margin-left:20px; }




ul.userstabs {
	margin: 0px;
	padding: 0px;
        clear:both;
        margin:0;
        margin-left:0;
        border:none;
}
ul.userstabs:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 1px;
	height: 100%;
	z-index: 1;	

}
ul.userstabs li {
	height: 100%;
	line-height: 50px;
	border-bottom: 1px solid #a2afaf;
        padding-left:5px;
	font-size: 12px;
	color: #828c8c;
        list-style:none;
	text-shadow: white 0px 1px 0px;
	font-weight: bold;
	-webkit-box-shadow: white 0px 1px 0px;
	-moz-box-shadow: white 0px 1px 0px;
	box-shadow: white 0px 1px 0px;
        position:relative;
}
ul.userstabs li a {
	display: block;
	padding-left: 40px;
	color: #828c8c;
	text-decoration: none;
	padding-right: 40px;
	position: relative;
}
ul.userstabs li.count a:after {
	content: attr(data-count);
	position: absolute;
	height: 20px;
	width: 20px;
	background: #999;
	background: -moz-linear-gradient(#BBB, #888);
	background: -webkit-linear-gradient(#BBB, #888);
	line-height: 20px;
	text-align: center;
	text-shadow: black 0px 1px 3px;
	color: white;
	top: 50%;
	margin-top: -8px;
	right: 20px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	-webkit-box-shadow: white 0px 1px 0px, #333 0px 3px 6px inset;
	-moz-box-shadow: white 0px 1px 0px, #333 0px 3px 6px inset;
	box-shadow: white 0px 1px 0px, #333 0px 3px 6px inset;
	font-size: 12px;
}
ul.userstabs li:hover {
	background: rgba(0,0,0,0.05);
}
ul.userstabs li.current {
	background-image: -webkit-linear-gradient(#dee3e3 0%, #b7c5c5 100%);
	background-image: -moz-linear-gradient(#dee3e3 0%, #b7c5c5 100%);
	-moz-box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset;
	-webkit-box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset;
	box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset;
	color: #6a6f76;
	text-shadow: rgba(255,255,255,0.7) 0px 1px 0px;
	cursor: default;
}
ul.userstabs li.current a {
	color: #4c4c4c;
}

ul.userstabs li.new span { font-family: Icons; }

ul.userstabs li a { line-height:auto;padding:0; }
ul.userstabs li.new a { line-height:auto;padding:0; }
ul.userstabs li.new { text-align:center;position:relative; }

ul.userstabs li span { font-family: Icons;font-size:20px;}

ul.userstabs.lastcol li { border-right:none; }

ul.userstabs li .eventmenus { font-family: Icons;top:3px;display:none; }
ul.userstabs li .eventmenus a { float:left;padding:0;padding-left:10px;color:#000;font-size:20px; }

ul.userstabs li:hover .eventmenus { display:block; }
ul.userstabs li:hover .eventmenus a:hover { color:#34aaed; }

ul.userstabs li .pagemenus { position:absolute;right:10px;font-family: Icons;top:3px;display:none; }
ul.userstabs li .pagemenus a { float:left;padding:0;padding-left:10px; }

ul.userstabs li:hover .pagemenus { display:block; }
ul.userstabs li:hover .pagemenus a:hover { color:#34aaed; }

ul.userstabs li table tr { background:none; }
ul.userstabs li table tr:hover td { background:none; }
ul.userstabs li table tr td { vertical-align:middle;border:none; }

#usereditform table tr {background:none;}
#usereditform table tr:hover td { background:none; }
#usereditform table tr td {border:none;padding:none;}

.tip {
	width:200px;
        text-align:center;
	overflow: hidden;
	display: none;
	position: absolute;
	z-index: 500;
	background: black;
	background: rgba(0,0,0,0.8);
	/*background: -webkit-linear-gradient(rgba(0,0,0,0.6), black);
	background: -moz-linear-gradient(rgba(0,0,0,0.6), black);*/
	border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 10px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 10px;
	box-shadow: rgba(0,0,0,0.3) 0px 2px 10px;
        color:#fff;
        padding:0;
}

.tip p { padding:10px;line-height:auto;color:#fff;margin:0; }


#videos { list-style:none;padding:0;margin:0; }
#videos li { 
        line-height: 50px;
	border-bottom: 1px solid #a2afaf;
        padding-left:5px;
	font-size: 12px;
	color: #828c8c;
        list-style:none;
	text-shadow: white 0px 1px 0px;
	font-weight: bold;
	-webkit-box-shadow: white 0px 1px 0px;
	-moz-box-shadow: white 0px 1px 0px;
	box-shadow: white 0px 1px 0px;
        position:relative;
}

#videos li a { color:#666;text-decoration:none; }

#videos li:hover a.delete { display:block; }

#videos li a.delete { font-family: Icons;font-size:16px;position:absolute;right:10px;display:none;top:0px; }

.eventslist .top-title { 
    height: 100%;
    border-bottom: 1px solid #a2afaf;
    color: #828c8c;
    text-shadow: white 0px 1px 0px;
    font-weight: bold;
    -webkit-box-shadow: white 0px 1px 0px 0px;
    -moz-box-shadow: white 0px 1px 0px 0px;
    box-shadow: white 0px 1px 0px 0px;
    padding:20px;
}

.events {
    border-right: 1px solid #a2afaf;
    -webkit-box-shadow: white 1px 0px 0px;
    -moz-box-shadow: white 1px 0px 0px;
    box-shadow: white 1px 0px 0px;
    width:70%;
    float:left;
    min-height:400px;
}

.datefilters { float:left;width:29%; }
.datefilters select { font-size:20px;width:36%;padding:10px; }
.datefilters button { padding:5px;margin-left:5px; }

.eventslist .top-title { position:relative; }
.eventslist .top-title button { margin:0;padding:10px;position:absolute;right:20px;top:15px; }

.eventslist .top-title h2 { font-size:24px;color:#000;letter-spacing: 1px; }
.eventslist .top-title h2 span { font-weight:normal;color:#666;font-size:24px; }

.eventslist .userstabs .eventtitle a label { color:#000;font-size:16px;font-weight:normal; }

.eventslist .userstabs .eventdate { font-size:40px;padding-left:15px;font-weight:bold;position:relative;width:250px; }
.eventslist .userstabs .eventdate b { font-weight:normal;font-size:14px;position:absolute;left:75px;top:5px; }
.eventslist .userstabs .eventdate label { font-size:16px;font-weight:normal;position:absolute;top:5px;left:100px; }

.eventslist .userstabs .gun0 .eventdate { color:#b482ff; }
.eventslist .userstabs .gun1 .eventdate { color:#7fa2fe; }
.eventslist .userstabs .gun2 .eventdate { color:#629193; } 
.eventslist .userstabs .gun3 .eventdate { color:#e45e90; } 
.eventslist .userstabs .gun4 .eventdate { color:#8ab470; } 
.eventslist .userstabs .gun5 .eventdate { color:#c178b6; } 
.eventslist .userstabs .gun6 .eventdate { color:#c07979; } 

.eventslist .userstabs .icons .yok { color:#CCC; }

.eventslist .userstabs .icons .graypublish { color:#CCC; }
.eventslist .userstabs .icons .blackpublish { color:#000; }

.top-title .detail-title { font-size:20px;position:relative;font-weight:normal;position:relative; }
.top-title .detail-title strong { font-weight:bold;color:#000;padding-left:10px; }

.top-title .detail-title button { position:absolute;right:0;top:-9px;padding:12px 20px; }

.top-title .detail-title b { font-size:20px; }
.top-title .detail-title.gun0 b { color:#b482ff;font-weight:bold; }
.top-title .detail-title.gun1 b { color:#7fa2fe;font-weight:bold; }
.top-title .detail-title.gun2 b { color:#629193;font-weight:bold; } 
.top-title .detail-title.gun3 b { color:#e45e90;font-weight:bold; } 
.top-title .detail-title.gun4 b { color:#8ab470;font-weight:bold; } 
.top-title .detail-title.gun5 b { color:#c178b6;font-weight:bold; } 
.top-title .detail-title.gun6 b { color:#c07979;font-weight:bold; } 

.editevent-left {
     border-right: 1px solid #a2afaf;
    -webkit-box-shadow: white 1px 0px 0px;
    -moz-box-shadow: white 1px 0px 0px;
    box-shadow: white 1px 0px 0px;
    width:310px;
    float:left;
    min-height:1200px;
}

.editevent-right { float:left;padding:20px;width:745px;color:#67686a; }
.editevent-right h1 { font-size:24px;font-weight:normal;color:#343434; }
.editevent-right span { line-height:25px;font-size:12px; }
.editevent-right b { font-size:16px; }

.editevent-left #eventimage { padding:5px; }



.editevent-left .leftmenu ul { list-style:none;padding:0;margin:0; }
.editevent-left .leftmenu ul li { 
        line-height: 50px;
	border-bottom: 1px solid #a2afaf;
        padding-left:10px;
	font-size: 14px;
	color: #828c8c;
        list-style:none;
	text-shadow: white 0px 1px 0px;
	-webkit-box-shadow: white 0px 1px 0px;
	-moz-box-shadow: white 0px 1px 0px;
	box-shadow: white 0px 1px 0px;
        position:relative;
}

.editevent-left .leftmenu ul li span { position:absolute;right:10px;color:#000;font-size:12px;cursor:pointer; }

.editevent-left .leftmenu.gun0 a { color:#b482ff; }
.editevent-left .leftmenu.gun1 a { color:#7fa2fe; }
.editevent-left .leftmenu.gun2 a { color:#629193; } 
.editevent-left .leftmenu.gun3 a { color:#e45e90; } 
.editevent-left .leftmenu.gun4 a { color:#8ab470; } 
.editevent-left .leftmenu.gun5 a { color:#c178b6; } 
.editevent-left .leftmenu.gun6 a { color:#c07979; }


.editevent-left ul.artistlist { list-style:none;padding:0;margin:0; }
.editevent-left ul.artistlist li { 
        line-height: 40px;
	border-bottom: 1px solid #a2afaf;
        padding-left:40px;
	font-size: 12px;
	color: #343434;
        list-style:none;
	text-shadow: white 0px 1px 0px;
	-webkit-box-shadow: white 0px 1px 0px;
	-moz-box-shadow: white 0px 1px 0px;
	box-shadow: white 0px 1px 0px;
        position:relative;
        font-weight:normal;
}

.editevent-left ul.artistlist li b { font-weight:normal; }
.editevent-left ul.artistlist li span { font-family: Icons;font-size:25px;position:absolute;left:5px;top:-5px; }
.editevent-left ul.artistlist li label { font-family: Icons;font-size:16px;position:absolute;right:5px;top:-5px;display:none; }
.editevent-left ul.artistlist li label a { color:#000;text-decoration:none;font-weight:normal; }

.editevent-left ul.artistlist li:hover label { display:block; }

#artistimagelist ul.images { list-style:none;margin:0;padding:0; }
#artistimagelist ul.images li { border:solid 3px #fff;list-style:none;margin:0;padding:0;width:200px;height:200px;overflow:hidden;float:left;margin-right:10px;margin-bottom:10px;position:relative;text-align:center; }
#artistimagelist ul.images li img { height:200px; }

#artistimagelist ul.images li:hover .menus { display:block; }
#artistimagelist ul.images li .menus { position:absolute;left:0;top:0;height:100%;width:100%;text-align:center;vertical-align:middle;display:none;background:#548bcb; }
#artistimagelist ul.images li .menus table tr td { border:none;}
#artistimagelist ul.images li .menus a { color:#fff;font-weight:bold;line-height:20px;text-decoration:none; }
#artistimagelist ul.images li .menus a span { font-family: Icons;font-weight:normal;font-size:14px;padding-right:10px; }
#artistimagelist ul.images li .menus .delete { color:#fff;font-weight:bold;line-height:20px;text-decoration:none; }
#artistimagelist ul.images li .menus .delete span { cursor:pointer; }

#artistimagelist ul.images li .imageedit { display:none; }
#artistimagelist ul.images li .imageedit textarea { background:#fff;padding:5px;border:solid 1px #ccc; }
#artistimagelist ul.images li .imageedit button { padding:5px;border:none;font-weight:normal;font-size:12px;margin:0;margin-top:5px; }

ul.videos { list-style:none;margin:0;padding:0; }
ul.videos li { border:solid 3px #fff;list-style:none;margin:0;padding:0;width:200px;height:200px;overflow:hidden;float:left;margin-right:10px;margin-bottom:10px;position:relative; }

ul.videos li:hover .menus { display:block; }
ul.videos li .menus { position:absolute;left:0;top:0;height:70px;width:100%;text-align:center;vertical-align:middle;display:none;background:#548bcb; }
ul.videos li .menus table tr td { border:none;}
ul.videos li .menus a { color:#fff;font-weight:bold;line-height:20px;text-decoration:none; }
ul.videos li .menus a span { font-family: Icons;font-weight:normal;font-size:14px;padding-right:10px; }
ul.videos li .menus .delete { color:#fff;font-weight:bold;line-height:20px;text-decoration:none; }
ul.videos li .menus .delete span { cursor:pointer; }

ul.videos li .imageedit { display:none; }
ul.videos li .imageedit textarea { background:#fff;padding:5px;border:solid 1px #ccc; }
ul.videos li .imageedit button { padding:5px;border:none;font-weight:normal;font-size:12px;margin:0;margin-top:5px; }


ul.sounds { list-style:none;margin:0;padding:0; }
ul.sounds li { border:solid 3px #fff;list-style:none;margin:0;padding:0;overflow:hidden;margin-right:10px;margin-bottom:10px;position:relative; }

ul.sounds li:hover .menus { display:block; }
ul.sounds li .menus { position:absolute;left:0;bottom:0;height:70px;width:100%;text-align:center;vertical-align:middle;display:none;background:#548bcb; }
ul.sounds li .menus table tr td { border:none;}
ul.sounds li .menus a { color:#fff;font-weight:bold;line-height:20px;text-decoration:none; }
ul.sounds li .menus a span { font-family: Icons;font-weight:normal;font-size:14px;padding-right:10px; }
ul.sounds li .menus .delete { color:#fff;font-weight:bold;line-height:20px;text-decoration:none; }
ul.sounds li .menus .delete span { cursor:pointer; }

ul.sounds li#addartistsound { background:#f3f3f3;padding:10px;text-align:center; }

.eventmainimage { position:relative; }
.eventmainimage .menu { 
    position:absolute;left:0;top:0;width:100%;height:100%;background:#fff;background:url('../../images/event-image-h.png') no-repeat center #fff;display:none; 
    opacity: .90; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=90); /* IE lt 8 */
    -ms-filter: "alpha(opacity=90)"; /* IE 8 */
    -khtml-opacity: .90; /* Safari 1.x */
    -moz-opacity: .90; /* FF lt 1.5, Netscape */
}
.eventmainimage:hover .menu { display:block; }

input[type=text] { color:#000; }

.add-product-category-button { position:absolute;background:url(../images/add-product-category.png) no-repeat left;right:10px;padding:2px 0;padding-left:25px;top:25px;cursor:pointer; }

.product-section { display:none;position:relative; }


.product-category-list .title { 
        border-bottom: 1px solid #a2afaf;
        text-shadow: white 0px 1px 0px;
	-webkit-box-shadow: white 0px 1px 0px;
	-moz-box-shadow: white 0px 1px 0px;
	box-shadow: white 0px 1px 0px;
        line-height: 38px;
        padding-left:30px;
	font-size: 12px;
	color: #343434;
        list-style:none;
        position:relative;
        font-weight:normal;
        background:url(../../images/category-title-bg.jpg) repeat-x;
        font-weight:bold;
        font-size:14px;
}
.product-category-list ul { list-style:none;padding:0;margin:0;margin-bottom:0px; }
.product-category-list ul li { 
        line-height: 35px;
        padding-left:30px;
	font-size: 12px;
	color: #343434;
        list-style:none;
        position:relative;
        font-weight:normal;
        color:#000;
        font-weight:bold;
        font-size:14px;
        -webkit-box-shadow: white 0px 1px 0px;
	-moz-box-shadow: white 0px 1px 0px;
	box-shadow: white 0px 1px 0px;
        border-bottom: 1px solid #a2afaf;
}

.product-category-list ul li.last { 
        -webkit-box-shadow: white 0px 0px 0px;
	-moz-box-shadow: white 0px 0px 0px;
	box-shadow: white 0px 0px 0px;
        border-bottom:none;
}

.product-category-list ul li .menu { position:absolute;right:10px;top:0;display:none; }
.product-category-list ul li:hover .menu { display:block; }
.product-category-list ul li .menu a { font-family: Icons;  }
.product-category-list ul li a:hover { color:#34aaed; }
.product-category-list ul li a.selected { color:#34aaed; }

.product-category-list .title .menu { position:absolute;right:10px;top:0;display:none; }
.product-category-list .title:hover .menu { display:block; }
.product-category-list .title .menu a { font-family: Icons;  }

.product-section #product-add-button { 
    position:absolute;
    left:140px;
    top:20px;
    background:url(../images/add-product-category.png) no-repeat left;
    font-weight:bold;
    padding:5px 0;
    padding-left:25px;
    cursor:pointer;
}

.product-section .fiyatlari-duzenle { 
    position:absolute;
    right:420px;
    top:25px;
    font-weight:bold;
}

.product-section #fiyat-duzenle-check {
    position:absolute;
    right:350px;
    top:20px;
}

.product-section .product-sorts { position:absolute;right:20px;top:25px;font-size:14px; }
.product-section .product-sorts a { margin-left:5px;font-weight:bold; }
.product-section .product-sorts a:hover { color:#02aeeb; }
.product-section .product-sorts a.selected { color:#02aeeb; }

#productslist ul { list-style:none;padding:0;margin:0; }
#productslist ul li { 
        line-height: 20px;
        padding:15px 0;
	border-bottom: 1px solid #a2afaf;
        padding-left:40px;
	font-size: 12px;
	color: #343434;
        list-style:none;
	text-shadow: white 0px 1px 0px;
	-webkit-box-shadow: white 0px 1px 0px;
	-moz-box-shadow: white 0px 1px 0px;
	box-shadow: white 0px 1px 0px;
        position:relative;
        font-weight:normal;
}

#productslist ul li:hover { 
        background:#e5eded;
}

#productslist ul li .title { color:#000;width:400px;font-weight:bold;font-size:14px; }
#productslist ul li .title span { font-weight:normal; }

#productslist ul li .menu { position:absolute;left:420px;top:15px;display:none; }
#productslist ul li:hover .menu { display:block; }
#productslist ul li .menu a { font-family: Icons;color:#000;font-size:16px;text-decoration:none;margin-left:5px;  }
#productslist ul li .menu a:hover { color:#34aaed; }
#productslist ul li .menu a.redbutton:hover { color:red; }

#productslist ul li .stock { position:absolute;top:15px;font-size:14px;right:20px; } 
#productslist ul li .stock b { font-size:18px;font-weight:bold;padding-right:2px;  }

#productslist ul li .price { position:absolute;top:15px;left:480px; }
#productslist ul li .price.yesper b { text-decoration:line-through; text-decoration-color: #eb02b1;   }
#productslist ul li .price b { font-size:18px;padding-right:2px; }

#productslist ul li .percentage { position:absolute;right:150px;top:15px;font-weight:bold; }
#productslist ul li .percentage label { color:#eb02b1;font-size:14px;padding-right:20px; }
#productslist ul li .percentage b { color:#000;font-size:18px; }

#productslist ul li .publish { font-family:Icons; position:absolute;left:10px;top:10px;font-size:22px;cursor:pointer; }

#productslist ul li .publish.graypublish { color:#CCC; }
#productslist ul li .publish.blackpublish { color:#000; }

#productslist ul li .icons { position:absolute;font-family:Icons;right:10px;top:10px;display:none; }
#productslist ul li .icons span { font-size:20px; }

#productslist ul li .product-edits { width:400px;position:absolute;right:-10px;top:7px;display:none; }



.box {
    line-height: 20px;
    background:#fff;
    padding:10px;
    display: none;
}

.box h1 {
    font-weight:bold;
    font-size:14px;
    color:#dc2027;
}

.box hr {
    margin:20px 0;
    border-bottom:solid 1px #ccc;
}

.box .product { font-weight: bold;font-size: 14px; }

.box .product .name {
    width:300px;
    float:left;
}

.box .product .qty {
    width:105px;
    float:left;
    text-align: right;
}

.box .product .fiyat {
    width:180px;
    float:left;
    text-align: right;
}

.box .product .total {
    width:180px;
    float:left;
    text-align: right;
}

.box .totalprice {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.box .totalprice hr {
    width:100px;
    text-align: right;
}

.order_preview {
    padding:10px;
    font-size:14px;
    position:relative;
}

.order_preview b {
    font-size: 14px;
}

.order_preview .sendmail {
    position:absolute;
    right:10px;
    top:15px;
}

.order_preview .havale_alindi {
    position:absolute;
    right:10px;
    top:27px;
    color:#000;
    text-decoration: none;
    font-weight: bold;
}




.dashboard h1 {
    font-size: 30px;
}

.dashboard h1 span {
    font-weight: normal;
}

.dashboard .col {
    border-right: 1px solid #a2afaf;
    -webkit-box-shadow: white 1px 0px 0px;
    -moz-box-shadow: white 1px 0px 0px;
    box-shadow: white 1px 0px 0px;
    width:310px;
    float:left;
    min-height:500px;
}

.dashboard .col.last {
    width:388px;
    border-right:none;
    -webkit-box-shadow: white 0px 0px 0px;
    -moz-box-shadow: white 0px 0px 0px;
    box-shadow: white 0px 0px 0px;
}

.dashboard .col h1 {
    padding:20px;
    margin:0;
    text-align: center;
    border-bottom: 1px solid #a2afaf;
    -webkit-box-shadow: white 0px 1px 0px;
    -moz-box-shadow: white 0px 1px 0px;
    box-shadow: white 0px 1px 0px;
    font-size: 40px;
}

.dashboard .col .list {
    padding:10px 20px;
    line-height: 20px;
    border-bottom: 1px solid #a2afaf;
    font-size: 13px;
    color: #828c8c;
    list-style:none;
    text-shadow: white 0px 1px 0px;
    -webkit-box-shadow: white 0px 1px 0px;
    -moz-box-shadow: white 0px 1px 0px;
    box-shadow: white 0px 1px 0px;
    position:relative;
}

.dashboard .col .list a {
    color: #828c8c;
    text-decoration: none;
}

.dashboard .col .list b {
    color:#000;
}

.dashboard .col .list .stock { position:absolute;top:10px;font-size:14px;right:20px; } 
.dashboard .col .list .stock b { font-size:14px;font-weight:bold;padding-right:2px;  }

.dashboard .col .list .percentage { position:absolute;right:70px;top:12px;font-weight:bold; }
.dashboard .col .list .percentage label { color:#eb02b1;font-size:12px;padding-right:10px; }
.dashboard .col .list .percentage b { color:#000;font-size:12px; }

.dashboard .col .list span {
    font-family: Icons;font-weight:normal;font-size:14px;padding-right:10px;color:#000;margin:0;
}